html {
  background-color: black;
}

div {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: white;
  font-family: 'Libre Baskerville', serif;
}

p {
  color: white;
}

img {
  border: 5px solid white;
}
